<!DOCTYPE html>
<html>

<head>
    <title>People to People</title>
    <link rel="stylesheet" type="text/css" href="BoardExample.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
 </head>

<body>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

 <nav>
 
	<script type="text/javascript">$( document ).ready(function(){$(".button-collapse").sideNav();})</script>
	
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">People to People</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
	
 </nav>
   
<h1 id="Topic">Topic</h1>
   
	<div>
		<h5 id="SelectedImg">Your Picture Here</h5>
	</div>
    
	<br>
	
	<div class="row">
		<a class="waves-effect waves-light btn" id="button">Submit</a>
	</div>
	
	<br>
   
	<ul class="images">
		<li><a href="#"><img src="ExamplePic.gif"></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
		<li><a href="#"><img src="ExamplePic.gif"></img></a></li>
	</ul>

</body>
</html>