<!DOCTYPE html>
<html>

<head>
    <title>People to People</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/BoardExample.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
</head>

<body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    
 <nav>

	<script type="text/javascript">
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal();
    })
    </script>

    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">People to People</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Profile</a></li>
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Profile</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>

 </nav>
 
    
    
    <div class="row game-info z-depth-1">
    <div class="col s12 align-center valign-wrapper">
            <h4 class="col s4 topic valign" id="PlayerStatus">
            Queen/Pawn
            </h4>


            <h1 class="col s4 center-align topic valign" id="Topic">
            Topic
            </h1>

        
            <h4 class="col s4 topic valign" id="GameTimer">
            Timer
            </h4>
        </h5>
    </div>
    </div>
    

<div id="player-cards" class="row">
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal1">
            <img id="Image1" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal2">
            <img id="Image2" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
      </div>
    <div class="item col s4 m3 l2">
          <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal3">
            <img id="Image3" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal4">
            <img id="Image4" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal5">
            <img id="Image5" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal6">
            <img id="Image6" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
	<div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal7">
            <img id="Image7" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
	<div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal8">
            <img id="Image8" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
	<div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal9">
            <img id="Image9" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>
    <div class="item col s4 m3 l2">
        <!-- Modal Trigger -->
          <a class="modal-trigger" href="#modal10">
            <img id="Image10" class="z-depth-1"  src="/images/ExamplePic.gif">
        </a>
    </div>

    <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image1" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image2" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal3" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image3" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal4" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image4" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal5" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image5" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal6" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image6" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal7" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image7" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal8" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image8" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal9" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image9" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
              <div id="modal10" class="modal modal-fixed-footer">
            <div class="modal-content">
           <!--   <h4>Card Title</h4> -->
              <img id="Image10" class="modal-image" src="/images/ExamplePic.gif">
            </div>
            <div class="modal-footer">
                <button href="#!" class="btn modal-action modal-close btn-flat">Close</button>
                <button href="#!" class="btn modal-action btn-flat">Select</button>
            </div>
          </div>
    
</div> <!-- row -->

    

</body>
</html>
