
    <link rel='stylesheet' href='/stylesheets/developer.css' />

    
    <div class="container">

        <h1>Meet the Developers</h1>
        
     <div class="row">

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Tim.png">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Tim Taggart<i class="mdi-navigation-more-vert right activator"></i></span>
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement<i class="mdi-navigation-close right "></i></span>
          <p>Tim Taggart is a Computer Information Systems major from Batavia, New York. He helped develop the User Interface for this website. He is also Fluent in Japanesse.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Tugce.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Tugce Boduroglu<i class="mdi-navigation-more-vert right activator"></i></span>
          
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Tugce Boduroglu is a Computer Science major from Izmir, Turkey. She helped develop the User Interface for this website. In her spare time she enjoys swimming.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Taylor.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Taylor J. Loomis<i class="mdi-navigation-more-vert right activator"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right activator"></i></span>
          <p>Taylor Loomis is a Computer Information Systems major from Chautauqua, New York. He was a key developer for the user interface for this website. Taylor Played division one soccer at Penn State.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Scott.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Scott J. Rivet <i class="mdi-navigation-more-vert right activator"></i></span>
        
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right activator"></i>Scott Rivet is a Computer Information Systems major from Cattaragus, New York. He developed modules for this website. Scott is currently going back to school for his second bachlor's degree.</span>
          <p>
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Nicholas.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Nicholas A. Reed<i class="mdi-navigation-more-vert right"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement<i class="mdi-navigation-close right activator"></i></span>
          <p>Nicholas Reed is a Computer Information Systems major from Amsterdam, New York. He helped develop databases for the people-to-people website. Before his interest in computers he studied classical piano for 15 years.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Ibrahima.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Ibrahima Toure<i class="mdi-navigation-more-vert right activator"></i></span>
          
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Ibrahima Toure is a Computer Science major with a minor in Web Programming from Brooklyn, New york. He helped develop databases for this website. Ibrahima has studied over ten different computer languages.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Amy.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Amy M. Masters<i class="mdi-navigation-more-vert right activator"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p>Amy Masters is a Computer Information Systems major with a minor in Web Programming from Irving, New York. She developed multiple modules for this website. She recently went sky diving in Arizona and really didn't enjoy herself. 
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Adam.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Adam Moncure <i class="mdi-navigation-more-vert right activator"></i></span>
        
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p>Adam Moncure is a Computer Science major from Woodstock, New York. He developed multiple modules for this websiteHas programmed 4 different games for 4 different classes at once.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/Mike.jpg">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Michael J. Burns<i class="mdi-navigation-more-vert right activator"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Michael Burns is a Computer Information Systems major with a minor in Business from Jamestown, New York. He helped develop some of the user interface for this website. In his spare time he enjoys barefoot water skiing.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Kyle McDonald <i class="mdi-navigation-more-vert right activator"></i></span>
          
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Kyle McDonald is a Computer Science major from Rochester, New York. He created databases for this website and in 2006 he was choosen as Time Magazine's Person of the Year.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Tyler B Gajewski<i class="mdi-navigation-more-vert right activator"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p> Tyler Gajewski is a Computer Science major from Dunkirk, New York. He created databases for this website and he competed in the decathlon at The State University of New York at Fredonia.
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Chris Palmer <i class="mdi-navigation-more-vert right activator"></i></span>
        
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p>Chris Palmer is a cool dude that came up with the idea for this website. Kind of
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Chris Palmer <i class="mdi-navigation-more-vert right"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Chris Palmer is a cool dude that came up with the idea for this website. Kind of
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->
         

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Chris Palmer <i class="mdi-navigation-more-vert right activator"></i></span>
          
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involvement <i class="mdi-navigation-close right"></i></span>
          <p>Chris Palmer is a cool dude that came up with the idea for this website. Kind of
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Chris Palmer <i class="mdi-navigation-more-vert right activator"></i></span>
         
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p>Chris Palmer is a cool dude that came up with the idea for this website. Kind of
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->

      <div class="col s6 m4 l3">
          <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/Profile Pictures/">
        </div><!-- card image-->
        <div class="card-content">
          <span class="card-title">Chris Palmer <i class="mdi-navigation-more-vert right activator"></i></span>
        
        </div><!-- card content-->
        <div class="card-reveal">
          <span class="card-title">Involement<i class="mdi-navigation-close right"></i></span>
          <p>Chris Palmer is a cool dude that came up with the idea for this website. Kind of
          </p>
        </div><!-- card reveal-->
      </div><!-- card-->
      </div><!-- col s13-->


    </div><!-- row-->
</div><!-- container -->
