<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.css"/>

   <div class="container">
        <div class="row">
			
			<div class="col s12"><h2>How to Play</h2></div>
			
			<div class="col s6">
				<h5>Directions</h5>
					<article> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </article>
			
				<h5>Other Information</h5>
					<article>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</article>
			</div>
		
		
			<div class="col s6 verticalLine">
				<h5>Social Networks<h5>
				<ul class="soc">
					<li><a class="soc-twitter" href="#"></a></li>
					<li><a class="soc-facebook" href="#"></a></li>
					<li><a class="soc-google" href="#"></a></li>
					<li><a class="soc-pinterest" href="#"></a></li>
					<li><a class="soc-linkedin" href="#"></a></li>
					<li><a class="soc-rss soc-icon-last" href="#"></a></li>
				</ul>
				
				<br>
				<br>
				<br>
				
				<h5>Extra</h5>
					<article>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</article>
				<br>
				<br>
				<br>
				<br>
			</div>
			
		</div>
		
	</div>
	
	
	<style> 
	
	.verticalLine {
    border-left: thick solid #ff0000;
	}
	
	@font-face {
    font-family: 'si';
    src: url('C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.eot');
    src: url('C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.woff') format('woff'),
         url('C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.ttf') format('truetype'),
         url('C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(C:/Users/tugce/Desktop/people-to-people/socicon-1.3/socicon.svg) format(svg);
    }
}



.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-rss {
    background-color: #f26109;
}
.soc-rss:before {
    content:',';
}


	

	</style>
	