.nav-wrapper{background-color: #4B4E5A;}

.brand-logo{margin: 0 0 0 10px;}

#player-cards {
    padding:30px;
    text-align:center;
    height:auto;
   /* background-image: url('/images/board.png');
    background-size: 100% 100%; */
}

.item{
    display:inline-block;
    padding:10px;
}

#player-cards .item img{
    width:100%;
    margin:10px;
}


.btn{
    background-color:white !important;
}

.btn:hover{
    background-color:white !important;
}

/* Title, Topic Timer Row */
.game-info{
	text-align: center;
    background-color:white;
}

/* Title, Topic Timer Sections */
.topic{
    float:left;
    width:33%;
}


/* POP UP ON IMAGE CLICK */
.modal-content{
    width:100%;
    height:100%;
}

.modal-image{
    height:100% !important;
}


@media only screen and (max-width:768px){
    h1{
        font-size:6vw !important;
    }
    h4{
        font-size:4vw !important;
    }
    .modal-image{
        height:auto !important;
        width:100% !important;
    }
    .modal-content{
        height:auto;
    }
    .modal{width:100% !important; height:relative !important;}
}
