.nav-wrapper{background-color: #4B4E5A;}

.brand-logo{margin: 0 0 0 10px;}

#player-cards {
    background-color: #ddd;
    padding-top:20px;
    text-align:center;
    background-image: url('/images/board.png');
    background-size: 100% auto;
    border-top: 5px solid #4B4E5A;
}

.owl-nav{
    text-align:center;
}
.owl-prev, .owl-next{
    background-color: #4B4E5A;
    color:white;
    width:100px;
    display:inline-block;
    padding:5px;
    text-align:center;
    margin:10px;
    cursor: pointer;
}

.owl-prev:hover, .owl-next:hover{
    background-color:white;
    color: #4B4E5A;
}

@media only screen and (max-width: 768px) {
    .owl-prev, .owl-next{
        width:40%;
        padding:10px 5%;
    }
}


#player-cards .item img{
    box-shadow: 0 0 3px #303030;
}

.card-title{
    background-color:#8B8CA6 !important;
    width:inherit;
    text-align:center;
    color:white;
    padding:30px;
}

.topic{
    font-size: 4em;
    float:left;
    width:33%;
}


.btn{
    background-color:#4B4E5A !important;
    width: 75%;
    padding: 10px auto !important;
}

.btn:hover{
    background-color:#8B8CA6 !important;
}

.row{
	text-align: center;
}

#SelectedImg{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 300px 0 300px 0;
    border: dashed;
}
