
	
	.verticalLine {
    background-color:#F9A646;
	}
	
h5{color: #2c719b; padding:20px;
     text-align: left;
    overflow:hidden;
}

h5:before,
h5:after {
    background-color: #F9A646;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
}
h5:before {
    width:30px;
    right: 0.5em;
}
h5:after {
    left: 0.5em;
    width: 100%;
    margin-right: -50%;
}

p{font-size:1.5em; font-weight:200; line-height:180%; padding:20px 0; text-align:justify;}
/* Tugce, make a new folder under public/images called 'socicon' and put all the files you have linked here in there. Change the urls below accordingly once you do that */

	@font-face {
    font-family: 'si';
    src: url('/socicon-1.3/socicon.eot');
    src: url('/socicon-1.3/socicon.eot?#iefix') format('embedded-opentype'),
         url('/socicon-1.3/socicon.woff') format('woff'),
         url('/socicon-1.3/socicon.ttf') format('truetype'),
         url('/socicon-1.3/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/socicon-1.3/socicon.svg) format(svg);
    }
}



.soc {
    overflow:hidden;
    margin-bottom:50px; 
    padding:20px 0;
    list-style:none;
    text-align:center;
    
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-pinterest {
    background-color: #c92619;
}
.soc-pinterest:before {
    content:'d';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-rss {
    background-color: #f26109;
}
.soc-rss:before {
    content:',';
}


