  /* label color */
   .input-field label {
     color: #0a719f;
   }
   .input-field .prefix{
       color:#0a719f;
   }

   /* label focus color */
   .input-field input[type=text]:focus + label
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label{
     color: #58b8e3;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus{
     border-bottom: 1px solid #58b8e3;
     box-shadow: 0 1px 0 0 #58b8e3;
   }
   /* valid color */
   .input-field input[type=text].valid
   .input-field input[type=email].valid,
   .input-field input[type=password].valid{
     border-bottom: 1px solid #1ABC9C;
     box-shadow: 0 1px 0 0 #1ABC9C;
   }
   /* invalid color */
   .input-field input[type=text].invalid
   .input-field input[type=email].invalid,
   .input-field input[type=password].invalid{
     border-bottom: 1px solid #E74C3C;
     box-shadow: 0 1px 0 0 #E74C3C;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #58b8e3;
   }

.btn{
    background-color:#0a719f;
}

.btn:hover{
    background-color:#58b8e3;
}