
 
#preloader {
	background: #222222;
	position:fixed;
	left:0px; 
	top:0px; 
	width:100%; 
    z-index:9999999999999999;
	height:100%; 
	text-align:center;
}
#preloader div {
	margin:auto;
    width:400px;
	text-align:center;
	overflow:hidden;
}
#preloader_image {
	position: relative;
	left:0px;
	top:-10px;
}